In [1]:
# Perform json scrapping on the json file Employeedata.json given in Datasets folder and create a structured data comprising only id,name,email and creditBalance

In [2]:
import pandas as pd
# import urllib,json
# url="https://jsonplaceholder.typicode.com/users"
# response=urllib.request.urlopen(url)
# data=json.loads(response.read())
data = pd.read_json('../EmployeeData.json')
data.head()
iD=[]
name=[]
email=[]
creditBalance=[]
for index, item in data.iterrows():
    if 'id' in item.keys():
        iD.append(item['id'])
    else:
        iD.append("NA")
    if 'name' in item.keys():
        name.append(item['name'])
    else:
        name.append('NA')
    if 'email' in item.keys():
        email.append(item['email'])
    else:
        email.append('NA')
    if 'creditBalance' in item.keys():
        creditBalance.append(item['creditBalance'])
    else:
        creditBalance.append('NA')
user_df=pd.DataFrame()
user_df['ID']=iD
user_df['NAME']=name
user_df['EMAIL']=email
user_df['CREDIT BALANCE']=creditBalance
user_df.head()

     ID         NAME                              EMAIL  CREDIT BALANCE
0  4051        manoj                    manoj@gmail.com             127
1  4050       pankaj                       p1@gmail.com               0
2  3050   Neeraj1993  neeraj.singh@adequateinfosoft.com               0
3  3049       Sophia                   sophia@gmail.com              36
4  3048  Raju Prasad                raju.nsit@gmail.com               5

In [4]:
# Write a python program to perform html Scrapping on any web url

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
url="https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area"
page=urlopen(url)
htmlpage=page.read().decode("utf-8")
soup=BeautifulSoup(htmlpage,"html.parser")
table=soup.find("table")
SrNo=[]
Country=[]
Area=[]
rows=table.find("tbody").find_all("tr")
# print(rows)
for row in rows:
    cells=row.find_all("td")
    if(cells):
        SrNo.append(cells[0].get_text().strip("\n"))
        Country.append(cells[1].get_text().strip("\xa0").strip("\n"))
        Area.append(cells[3].get_text().strip("\n").replace(",",""))
# print(SrNo)
# print(Country)
# print(Area)
country_frame=pd.DataFrame()
country_frame["ID"]=SrNo
country_frame["Country"]=Country
country_frame["Area"]=Area
print(country_frame.head(20))

    ID       Country                Area
0    1        Russia  13083100 (5051400)
1    2         China   9596961 (3705407)
2    3         India   3287263 (1269219)
3    4    Kazakhstan   2600000 (1000000)
4    5  Saudi Arabia    2149690 (830000)
5    6          Iran    1648195 (636372)
6    7      Mongolia    1564110 (603910)
7    8     Indonesia    1488509 (574717)
8    9      Pakistan     881913 (340509)
9   10        Turkey     759805 (293362)
10  11       Myanmar     676578 (261228)
11  12   Afghanistan     652867 (252073)
12  13         Yemen     555000 (214000)
13  14      Thailand     513120 (198120)
14  15  Turkmenistan     488100 (188500)
15  16    Uzbekistan     447400 (172700)
16  17          Iraq     438317 (169235)
17  18         Japan     377976 (145937)
18  19       Vietnam     331212 (127882)
19  20      Malaysia     330803 (127724)